@font-face {
  font-family: 'iconfont'; /* project id 1726095 */
  src: url('//at.alicdn.com/t/font_1726095_jks01xc7sss.eot');
  src: url('//at.alicdn.com/t/font_1726095_jks01xc7sss.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1726095_jks01xc7sss.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1726095_jks01xc7sss.woff') format('woff'),
    url('//at.alicdn.com/t/font_1726095_jks01xc7sss.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1726095_jks01xc7sss.svg#iconfont') format('svg');
}

.iconX {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
