@import '@/src/styles/mixin';

.homeWrap {
  @include wh(100vw, 100%);
  // 导航
  .navBarWrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 997;
    width: 100%;
    color: transparent;
    .navBarTitle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      /* prettier-ignore */
      margin-top: -2PX;
      /* prettier-ignore */
      padding-top: 20PX;
      z-index: 998;
      /* prettier-ignore */
      font-size: 17PX;
      text-align: center;
    }
  }
  .scrollDom {
    @include wh(100vw, 100%);
    // banner
    .bannerWrap {
      @include wh(100%, 458px);
      overflow: hidden;
      .swiperItemDom {
        @include wh(100%, 100%);
        .swiperImg {
          @include wh(100%, 100%);
        }
      }
    }
    // 内容
    .conWrap {
      // 公告
      .noticeWrap {
        @include wh(690px, 100px);
        box-sizing: border-box;
        margin: 30px auto;
        padding: 20px 30px;
        line-height: 60px;
        background-color: #f6f8fd;
        overflow: hidden;
        .noticeTitle {
          @include sc($txtColor, $titleColor);
          float: left;
          margin-right: 20px;
        }
        .noticeSwiperWrap {
          @include wh(540px, 60px);
          @include sc(24px, $titleColor);
          overflow: hidden;
          .swiperItemDom {
            @include ellipsis;
          }
        }
      }
      // 列表
      .listWrap {
        padding: 24px;
        background-color: #f6f6f6;
        .cardDom {
          @include wh(100%, 300px);
          box-sizing: border-box;
          padding: 20px 0 20px 20px;
          margin-bottom: 24px;
          background: #fff url('../../../../assets/images/card_bg.png') no-repeat;
          -webkit-background-size: cover;
          background-size: cover;
          border-radius: 15px;
          overflow: hidden;
          &::after {
            @include clearfix;
          }
          .cardLeft {
            @include wh(120px, 120px);
            float: left;
            margin: 6px 20px 0 0;
            .cardLogo {
              @include wh(100%, 100%);
            }
          }
          .cardRight {
            position: relative;
            float: left;
            width: 520px;
            .cardTitle {
              @include sc(30px, #2d1e1e);
              margin-bottom: 24px;
              > text {
                vertical-align: middle;
              }
              .circleSign {
                @include wh(30px, 30px);
                @include sc(24px, #fff);
                display: inline-block;
                margin-left: 12px;
                text-align: center;
                line-height: 30px;
                border-radius: 50%;
              }
            }
            .cardTxt {
              @include sc(26px, #b0b3bf);
              max-width: 500px;
              margin-bottom: 20px;
              > text {
                margin-left: 30px;
              }
            }
            .cardDate {
              @include sc(24px, #b0b3bf);
              > text {
                margin-left: 20px;
              }
            }
            .moneyDom {
              @include sc(36px, #fe5801);
              position: absolute;
              top: 24px;
              right: 28px;
            }
          }
        }
        .taskCard:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
